.repositories {
  display: flex;
  flex-direction: column;
  padding: 0 32px 0 16px;

  .forbidden {
    color: #aaa;
    font-size: 14px;
  }

  .repo-tools {
    margin-bottom: 20px;
  }

  .repo-list {
    display: flex;
    flex-direction: column;
    border: 1px solid #30363e;
    border-radius: 10px;
    margin-bottom: 50px;
  }

}
