.selected-repo-wrapper {
  border: 1px solid #30363e;
  border-radius: 10px;
  padding: 0 20px;
  background-color: #1c222cdc;
  overflow: hidden;
  position: sticky;
  bottom: 0;
  top: 0;
  width: 100%;
  max-height: 0;
  margin-bottom: 30px;
  opacity: 0;
  transition:
    max-height .5s,
    min-height .5s;
  z-index: 10;

  &::before,
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 10px;
  }

  &.show {
    max-height: 60px;
    opacity: 1;

    &:hover {
      max-height: 500px;
    }
  }

  .selected-reop-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      display: block;
      width: 60%;
      height: 0;
      border-bottom: 1px solid #aaa2;
    }

    .selected-repo-item {
      z-index: 1;
      width: auto;
      padding: 10px;
      margin: 0 10px 0 0;
      display: flex;
      align-items: center;
      user-select: none;
      cursor: pointer;
      border: 1px solid rgba(#30363e, 0);
      border-radius: 10px;
      transition: border-color 1s, background-color .3s;
      position: relative;

      &:hover {
        border-color: rgba(#30363e, 1);
        background-color: #010409;

        .remove-repo {
          opacity: .5;
        }

        .selected-repo-item-color {
          opacity: 0;
        }
      }

      &.disabled {
        text-decoration: line-through;
        color: rgba(255, 255, 255, 0.186);

        .selected-repo-item-name {
          color: rgba(255, 255, 255, 0.186);
        }

        .selected-repo-item-color {
          background-color: transparent !important;
          opacity: .3;
        }
      }

      .selected-repo-item-name {
        font-size: 14px;
        color: #aaa;
        margin-right: 10px;
      }

      .selected-repo-item-color {
        width: 20px;
        height: 10px;
        border-radius: 10px;
        transition: opacity .5s;
        border: 1px solid;
      }

      .remove-repo {
        position: absolute;
        right: 10px;
        width: 20px;
        height: 20px;
        opacity: 0;
        border: 1px solid #373d4800;
        transition: opacity .5s, border-color .5s;

        &:hover {
          opacity: 1;
          border-color: #373d48;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .selected-reop-tools {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-bottom: 20px;

    .range-area {
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      label {
        font-size: 14px;
        color: #aaa;
        padding: 0 10px;
        height: 16px;
        display: flex;
        align-items: center;
      }

      input {
        width: 80%;
        cursor: pointer;
      }

    }

    .submit-button-wrapper {
      margin: 10px 0;

      .apply {
        width: 200px;
        transition: width .3s, background-color .3s, border-color .3s;

        &.loading {
          width: 400px;
          background-color: #1f6feb17;
          border-color: #1f6feb7a;
          &:hover {
            background-color: #c5432e30;
            border-color: #c5432e7a;  
          }
        }

        &.paused {
          width: 400px;
          background-color: #ffe10017;
          border-color: #ffe3007a;
          &:hover {
            background-color: #66cb0030;
            border-color: #66cb007a;  
          }
        }

        &.completed {
          width: 300px;
          background-color: #238636;
          border-color: #238636;
          pointer-events: none;
        }
      }

      .loading-button {
        height: 100%;
        left: 0;
        top: 0;
        transition: background-color .3s, width .3s;
      }

      .loading + .loading-button {
        background-color: #1f6feb4b;
      }

      .paused + .loading-button {
        background-color: #ffe3004b;
      }

      .loading:hover + .loading-button {
        background-color: #c5432e4b;
      }

      .paused:hover + .loading-button {
        background-color: #66cb004b;
      }
    }

  }

  .pr-colors {
    width: 100%;
    border: 1px solid red;
    border-radius: 20px;
    border: 1px solid #aaa2;
    padding: 10px;
    display: flex;

    .pr-colors-item {
      padding: 0 20px;
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      cursor: pointer;
      border-radius: 20px;
      transition: background-color .2s;
      user-select: none;
      border: 2px solid transparent;
      margin: 0 2px;

      &:hover {
        background-color: #2c7ffc10;
      }

      &:active {
        background-color: #2c7ffc17;
      }

      &.selected {
        background-color: #2c7ffc19;
        border-color: #2c7ffc6f;
      }
    }
  }

  .pr-status-filter {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 10px;

    label {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #fff6;
    }

    .pr-status-filter-item {
      display: flex;
      align-items: center;
      height: 40px;
      margin: 10px;
      padding: 10px;
      color: #aaa;
      user-select: none;
      cursor: pointer;
      border-radius: 10px;
      border: 1px solid rgba(#30363e, 0);
      transition: border-color 1s, background-color .3s;

      &:hover {
        border-color: rgba(#30363e, 1);
        background-color: #010409;
      }

      &::after {
        content: '';
        width: 20px;
        height: 10px;
        border-radius: 10px;
        transition: opacity .5s;
        margin-left: 10px;
        border: 1px solid;
      }

      &.status-open {
        &::after {
          background-color: #3FBA50;
          border-color: #3FBA50;
        }
      }

      &.status-draft {
        &::after {
          background-color: #858D97;
          border-color: #858D97;
        }
      }

      &.status-merged {
        &::after {
          background-color: #A371F7;
          border-color: #A371F7;
        }
      }

      &.status-closed {
        &::after {
          background-color: #F85149;
          border-color: #F85149;
        }
      }


      &.disabled {
        text-decoration: line-through;
        color: rgba(255, 255, 255, 0.186);

        &::after {
          background-color: transparent !important;
          opacity: .3;
        }
      }
    }
  }
}
