.members {
  width: 100%;

  .forbidden {
    color: #aaa;
    font-size: 14px;
  }

  >div {
    display: flex;
    flex-direction: column;
  }

  .member-list {
    display: flex;
    flex-wrap: wrap;

    .member-link {
      width: 35px;
      height: 35px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      margin: 1px;
      overflow: hidden;
    }

  }

  .view-all {
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;

    &:hover {
      text-decoration: underline;
    }
  }

}
