.repo-item {
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #21262d;
  position: relative;

  .repo-item-color {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    transition: width .3s, background-color .3s;

    &.addable {
      background-color: #1f6feb;
    }

    &.removable {
      background-color: #fd3c3f;
    }
  }

  &:hover {
    background-color: #161b22;

    .repo-item-color {
      width: 5px;
    }
  }

  &:last-child {
    border: none;
  }

  .action-button {
    min-width: 30px;
    width: 30px;
    height: 30px;
    border: 1px solid #21262d;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color .1s, background-color .2s;

    img {
      width: 50%;
      height: 50%;
      opacity: 50%;
      transition: opacity .1s;
    }

    &:not(.disabled):hover {
      border-color: #444e5c;

      img {
        opacity: 100%;
      }
    }

    &.add-button {
      border-color: #1f6feb66;

      &:hover {
        background-color: #1f6feb;
      }
    }

    &.remove-button {
      &:hover {
        border-color: #fd3c3f33;
        background-color: #fd3c3f33;
      }
    }

    &.disabled {
      cursor: default;
    }

    &:not(.disabled):active {
      border-color: #3e444c;

      img {
        opacity: 70%;
      }
    }
  }

  .repo-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-right: 10px;

    .first-section {
      display: flex;
      margin-bottom: 5px;

      .repo-title {
        .repo-visiblity {
          padding: 0 7px;
          border: 1px solid #2f353c;
          border-radius: 10px;
          white-space: nowrap;
          line-height: 18px;
          font-size: 11px;
          color: #848d97;
          margin-left: 10px;
        }
      }
    }

    .second-section {
      width: 100%;
      margin-bottom: 10px;

      .repo-desc {
        color: #848d97;
        font-size: 14px;
        line-height: 21px;
      }
    }

    .third-section {
      display: flex;

      .repo-language {
        font-size: 12px;
        color: #848d97;
        margin-right: 16px;
        line-height: 18px;
        display: flex;
        align-items: center;

        .repo-language-color {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          display: block;
          margin-right: 5px;
        }
      }

      .repo-updated-at {
        font-size: 12px;
        color: #848d97;
        line-height: 18px;
      }
    }

  }

  .pr-numbers {
    display: flex;
    align-items: center;
    white-space: nowrap;

    &.disabled {
      opacity: .5;
    }

    .pr-section {
      display: flex;
      align-items: center;
      height: 16px;

      &:first-child {
        margin-right: 10px;
      }

      .pr-icon {
        width: 16px;
        height: 16px;
        margin-right: 5px;
      }

      .pr-number {
        font-size: 14px;
      }
    }
  }

}
