.pr-item {
  width: 100%;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #21262d;
  position: relative;

  &:hover {
    background-color: #161b22;

    .pr-repo-color {
      width: 5px;
    }
  }

  &:last-child {
    border: none;
  }

  .pr-repo-color {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    transition: width .3s;
    
    &.load-stopped {
      transition: width .3s, filter 10s;
      filter: grayscale(1);
    }
  }

  .pr-title {
    display: flex;
    flex-direction: column;
    width: 60%;

    .top-section {
      margin-bottom: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .pr-state {
        width: 16px;
        height: 16px;
        margin-right: 10px;
      }


      .pr-link {
        color: #e6edf4;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          color: #2e81f7;
        }
      }
    }

    .bottom-section {
      padding-left: 26px;

      .pr-repo-link {
        font-weight: 400;
        font-size: 14px;
        color: #777;
        margin-right: 10px;

        &:hover {
          color: #2e81f7;
        }
      }

      .pr-created-date {
        font-size: 10px;
        color: #555;
      }
    }
  }

  .pr-long-running {
    text-align: right;
    width: 40%;
    padding-right: 50px;
    font-weight: 200;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .pr-member-link {
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

}
