a {
  color: #2e81f7;
  text-decoration: none;
  font-weight: 600;
}

.app {
  background-color: #0d1117;
  color: #ffffff;
  min-height: 100%;

  .page-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}


// @media only screen and (max-width: 600px) {
//   .app .page-container .page-title {
//     font-size: 20px;
//     margin: 0 10px 10px;
//   }
// }
