.list-pagination {
  display: flex;
  justify-content: center;

  div {
    padding: 8px;
    color: #e6edf3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin: 0 2px;
    user-select: none;

    &:not(.disabled):not(.curr-page):hover {
      background-color: #21262c;
    }

    &.disabled {
      cursor: unset;
      color: #3e444d;
      pointer-events: none;
    }
  }

  .pagination-prev {
    color: #2f81f7;
    &::before {
      content: '<';
      margin-right: 8px;
    }
  }

  .pagination-next {
    color: #2f81f7;
    &::after {
      content: '>';
      margin-left: 8px;
    }
  }

  .page-number {
    padding: 8px 6px;
    min-width: 32px;
    height: 32px;
    &.curr-page {
      background-color: #1f6feb;
    }
  }
}
